<div>
	<h3>Tweets matching "<%= params[:q] %>":</h3>
	<ul class= "tweet-list">
		<% @tweet_data.each do |tweet| %>
			<li>
				<a target="_blank" href="<%=tweet.last[:url]%>">
					<%= tweet.last[:text] %>
				</a>
			</li>
		<% end %>
	</ul>
</div>
<%= render partial: "shared/home_button" %>