<div>
	<h3>Tweets for "<%= @keyword.content %>":</h3>
	<ul class="tweet-list">
		<% @tweets.each do |tweet| %>
			<li>
				<a target="_blank" href="<%= tweet.url %>">
					<%= tweet.content %>
				</a>
			</li>
		<% end %>
	</ul>
</div>
<%= render partial: "shared/home_button" %>