<!DOCTYPE html>
<html>
<head>
  <title>TwitQuery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<a href="/">
		<div class="site-logo">
			<h1>TwitQuery
			<i class="fa fa-twitter"></i>
			</h1>
		</div>
	</a>
<%= yield %>

</body>
</html>
